.top-list{
    margin: 5% ;
}



.footer-icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

.logo{
    width: 100px;
    height: 80px;
    margin-left: 20px;
}

.search-bar-background{
    height: 500px;
    width: 100%;
    background-image: url('../public/image/searchBackground.jpg');
    background-size: cover;
    
}

.search-bar-container{
    padding-top: 10%;
    width: 25%;
    margin-left: 35%;
    
    
}

.result-container {
    display: flex;
    justify-content: center; 
  }
  
  .result-list,
  .map-list {
    width: 50%; 
    margin-left: 10%; 
    margin-top: 5%;
  }
  
.top-choices-title
{

    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-top: 30px;
    margin-left: 5%;
}

#top-choices{
    margin-top: 30px;
}



