@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.top-list {
  margin: 5%;
}

.footer-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.logo {
  width: 100px;
  height: 80px;
  margin-left: 20px;
}

.search-bar-background {
  height: 500px;
  width: 100%;
  background-image: url('../public/image/searchBackground.jpg');
  background-size: cover;
}

.search-bar-container {
  padding-top: 10%;
  width: 25%;
  margin-left: 35%;
}

.result-container {
  display: flex;
  justify-content: center;
}

.result-list,
.map-list {
  width: 50%;
  margin-left: 10%;
  margin-top: 5%;
}

.noResult {
  color: #fff;
  text-transform: capitalize;
  background-color: purple;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 2rem;
  margin: 7rem;
  box-shadow: 5px 10px #fff;
}

.top-choices-title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-top: 30px;
  margin-left: 5%;
}

#top-choices {
  margin-top: 30px;
}

.donation {
  height: 1000px;
}

.donation-container {
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #f8f9fa;
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donation-container h1 {
  margin-bottom: 20px;
}

.donation-container p {
  margin-bottom: 20px;
}

.donation-title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-top: 30px;
  margin-bottom: 50px;
}

.donation-btn {
  margin-top: 10px;
  width: 30%;
  height: 50px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.donation-btn:hover {
  background-color: #14a246;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Mono', monospace;
}
